.layout-container {
  background-color: black;
}

.layout-children{
  width: 100vw;
}

@media screen and (min-width: 690px) {
  body {
    width: 300px;
    display: flex;
  }
  body div {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  }